<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <title>Error</title>
</head>
<body>
    <img src="<%= imagePath %>" alt="nepovezlo_nepovezlo">
    <h1>nepovezlo_nepovezlo</h1>
    <h1>Error: <%= msg %></h1>
    <p><input type="button" value="Back" onclick="window.history.back()" class="button"></p>
</body>
</html>